<div class="footer p-4 bg-dark border-t border-gray-600 text-center">
    <div class="sitemap mb-4">
        <h3 class="text-light mb-2">Sitemap</h3>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <a href="{{ path('app_root') }}" class="text-gray-400 hover:underline">Home</a>
            <a href="{{ path('features') }}" class="text-gray-400 hover:underline">Features</a>
            <a href="{{ path('about') }}" class="text-gray-400 hover:underline">About</a>
            <a href="{{ path('checkout') }}" class="text-gray-400 hover:underline">Checkout</a>
            <a href="{{ path('domain') }}" class="text-gray-400 hover:underline">Domain</a>
            <a href="{{ path('search') }}" class="text-gray-400 hover:underline">Search</a>
            <a href="{{ path('user') }}" class="text-gray-400 hover:underline">User</a>
            <a href="{{ path('settings') }}" class="text-gray-400 hover:underline">Settings</a>
            <a href="{{ path('dashboard') }}" class="text-gray-400 hover:underline">Dashboard</a>
            <a href="{{ path('dashboard_messages') }}" class="text-gray-400 hover:underline">Messages</a>
            <a href="{{ path('dashboard_nimbus_ai') }}" class="text-gray-400 hover:underline">Nimbus.ai</a>
            <a href="{{ path('admin') }}" class="text-gray-400 hover:underline">Admin</a>
            <a href="{{ path('login') }}" class="text-gray-400 hover:underline">Login</a>
            <a href="{{ path('signup') }}" class="text-gray-400 hover:underline">Signup</a>
        </div>
    </div>
    <p class="text-gray-400">© 2025 Aviyon. All rights reserved.</p>
</div>
