<div class="py-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <img src="{{ asset('build/images/sample1.jpg') }}" class="rounded-lg shadow-md">
      <img src="{{ asset('build/images/sample2.jpg') }}" class="rounded-lg shadow-md">
      <img src="{{ asset('build/images/sample3.jpg') }}" class="rounded-lg shadow-md">
      <img src="{{ asset('build/images/sample4.jpg') }}" class="rounded-lg shadow-md">
      <img src="{{ asset('build/images/sample5.jpg') }}" class="rounded-lg shadow-md">
      <img src="{{ asset('build/images/sample6.jpg') }}" class="rounded-lg shadow-md">
      <img src="{{ asset('build/images/sample7.jpg') }}" class="rounded-lg shadow-md">
  </div>
