<div class="py-8 space-y-6">
      <video controls class="w-full h-48 rounded-lg"><source src="{{ asset('build/videos/video1.mp4') }}" type="video/mp4"></video>
      <video controls class="w-full h-48 rounded-lg"><source src="{{ asset('build/videos/video2.mp4') }}" type="video/mp4"></video>
      <video controls class="w-full h-48 rounded-lg"><source src="{{ asset('build/videos/video3.mp4') }}" type="video/mp4"></video>
      <video controls class="w-full h-48 rounded-lg"><source src="{{ asset('build/videos/video4.mp4') }}" type="video/mp4"></video>
      <video controls class="w-full h-48 rounded-lg"><source src="{{ asset('build/videos/video5.mp4') }}" type="video/mp4"></video>
      <video controls class="w-full h-48 rounded-lg"><source src="{{ asset('build/videos/video6.mp4') }}" type="video/mp4"></video>
      <video controls class="w-full h-48 rounded-lg"><source src="{{ asset('build/videos/video7.mp4') }}" type="video/mp4"></video>
  </div>
