{% extends 'layouts/base.html.twig' %}

{% block title %}{{ user.username }} - Kodoverse Elite{% endblock %}

{% block body %}
    {% include 'components/user/header.html.twig' with {'user': user} %}
    <div class="max-w-[1280px] mx-auto px-4 py-6">
        <div class="flex flex-col lg:flex-row">
            <div class="w-full lg:w-3/4">
                {% include 'components/user/page_nav.html.twig' with {'user': user} %}
                <div class="w-full">
                    {% include 'components/user/new_post.html.twig' with {'user': user} %}
                    {% include 'components/user/posts.html.twig' with {'feedItems': user.feed|default([])} %}
                </div>
            </div>
            <div class="w-full lg:w-1/4 pl-0 lg:pl-6 mt-6 lg:mt-0">
                {% include 'components/user/sidebar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/pages/user/nav.js') }}" defer></script>
    <script src="{{ asset('build/pages/user/new_post.js') }}" defer></script>
    <script src="{{ asset('build/pages/user/posts.js') }}" defer></script>
    <script src="{{ asset('build/pages/user/sidebar.js') }}" defer></script>
{% endblock %}
